In [1]:
import pandas as pd

In [3]:
data1 = {
    "a": [1,2,3,4],
    "b": ["v", "x", "y", "z"]
}

In [5]:
df=pd.DataFrame(data1)
df

   a  b
0  1  v
1  2  x
2  3  y
3  4  z

In [14]:
df1= pd.DataFrame(data={
    "a": [4, 6],
    "b": ["z", "b"]
})
df1

   a  b
0  4  z
1  6  b

In [17]:
for i, value in enumerate(df1["b"].values):
    if not value in df["b"].values:
        df = df.append(df1[df1["b"] == value])
df

   a  b
0  1  v
1  2  x
2  3  y
3  4  z
1  6  b